* {
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    font-family: MicrosoftYaHei;
  }
  .common .el-menu-item.is-active{
    color: #fe5621
  }
  a{
    text-decoration: none;
    color: #333333;
  }
  .clearfix:after{
    content:""; 
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
.colorE1{
  color:#E1731A;
}
.red{
  color: red;
}
.white{
  color: white;
}
.clearfix{
    zoom:1;
}
  div.cell {
    padding: 0px !important;
  }

  body {
    background-color: #ebecf2;
  }

  .common .el-badge__content.is-fixed {
    top: 15px;
  }

  th div.cell {
    color: #333333 !important;
  }

.All .el-tabs {
    padding: 10px 0px;
  }

.All .el-tabs div .el-tabs__nav-scroll {
    padding-left: 50px;
  }
.All .el-tabs div .el-tabs__nav-scroll .el-tabs__nav {
    padding-bottom: 5px;
  }

.All div.el-tabs__item.is-active {
    color: #fe5621;
}

.All .el-tabs__item:hover {
    color: #fe5621 !important;
    cursor: pointer;
}
.All div.el-tabs__active-bar {
    background-color: #fe5621;
}
.All input.el-input__inner{
    height: 30px !important;
}
.All .el-date-editor{
    width: 250px !important;
}
.ReleaseBaby .ReleaseBaby-conter-one>div{
  width: calc( 100% / 4 - 22px );
  height: 125px;
  margin: 20px 8px 20px 10px;
  display: inline-block;
}
.ReleaseBaby .ReleaseBaby-conter-one>div .el-upload{
  background-color: white;
}
.ReleaseBaby .ReleaseBaby-conter-one>div:nth-of-type(1){
  width: 520px;
  height: 260px;
  display: block;
  margin: 10px auto 20px auto;
}
.ReleaseBaby .avatar-uploader .el-upload {
  width: 100% !important;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.ReleaseBaby .avatar-uploader .el-upload i{
  line-height: 135px;
  font-size: 66px;
  cursor: pointer;
  color:  #D3D3D3;
}
.ReleaseBaby-conter-two .el-upload--picture-card{
  width: 125px;
  height: 125px;
  border-radius: 0px;
  line-height: 125px;
}
.ReleaseBaby-conter-two .el-upload-list--picture-card .el-upload-list__item{
  width: 125px;
  height: 125px;
  border-radius: 0px;
}
.el-table__body, .el-table__footer, .el-table__header{
  table-layout: auto !important;
}
.ReleaseButton .el-form-item__content{
  width: 100px;
  margin: 0 auto !important;
}

/* 登录 */
.loginConter-top-conter .el-input__inner{
  border:none !important;
  background-color: #E5E6EA;
}
.loginConter-top-conter .el-form-item__content{
  margin-left: 0px !important;
  height: 100%;
}
.loginConter-top-conter .el-form-item__error{
  left: 25%;
}
.loginConter-top-conter .el-form-item{
  margin: 0px !important;
  padding: 20px 0px;
}
.loginConter-top-conter .el-form-item .el-form-item__label{
  font-size: 21px !important;
  color:  #9D9DA0 ;
}
